$putty: #ead39c;
$bossanova: #432650;
$midnight: hsl(216, 100%, 13%);
$red-violet: #d6158a;
$seashell: #fff5ee;

$primary-light: hsl(216, 58%, 55%);
$primary-color: $midnight;
$primary-dark: hsl(216, 23%, 13%);

$secondary-color: $putty;

$light-red-violet: #c85c9c;
$red-violet: #d6158a;
$dark-red-violet: #8a0e58;
